.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  #1d1f21;
}
h1{
    background:#aca7a3 ;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    font-size: 25px;
}
@media screen and (min-width: 768px){
    .container{
        display: block
    }
    .content{
        padding-top: 20px;

        display: flex;
        align-items: center;
        justify-content: center;   
    }


}
