<div class="container">
  <div class="social">
    <a href="https://github.com/m4eryk?tab=repositories" target="_blank"><i class="fab fa-github fa-1x">  My Git Hub</i></a>
    <a href="https://www.instagram.com/watatp/" target="_blank"><i class="fab fa-instagram fa-1x">  My Inst</i></a>
    <a href="https://vk.com/maeryk" target="_blank"><i class="fab fa-vk fa-1x">  My VK Page</i></a>
  </div>
  <div class="contact">
     <i class="fas fa-envelope">  Work email: maerovwork@gmail.com</i> 
  </div>
</div>
