*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
  

